.artifact-full
  position: relative
  .download
    display: block
    text-align: center
    margin-bottom: 30px
    +border-radius(5px)
    > a
      img
        background-color: #fff
        border: solid 1px #000
        max-width: 100%
        +box-shadow(2px 2px 9px rgba(0, 0, 0, 0.8))
        + div
          padding-top: 20px
      &[href$=pdf]
        div:after
          content: " (PDF)"
