%nav#global-navbar.navbar.navbar-inverse.navbar-fixed-top.col-lg-12
  %button.navbar-toggle{type:"button", data: {toggle:"collapse", target:".navbar-responsive-collapse"} }
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{href: '#home'}= site_title
  .nav-collapse.collapse.navbar-responsive-collapse.container
    %ul.nav.navbar-nav
      - sections.each do |section|
        - if section.artifact_count > 0
          %li
            %a{ href: section_href(section, true) }= section.title
