- if include_header
  = header artifact.title
  %article.row.artifact-full
    .col-lg-8
      .text= artifact.text
    .col-lg-4
      .download
        = thumbnail(artifact, "Download/View File")
      - if artifact.caption?
        .caption= artifact.kramdown artifact.caption
  
