%table
  %thead
    %tr
      %th Years
      %th Personal
      %th Career
      %th Education
      %th Recreational Leisure
  %tbody
    %tr
      %td 1 year
      %td I am more confident in my abilities at school and in my personal relationships.
      %td I successfully completed my level I fieldwork with good marks. While in my fieldwork, I am able to apply many of the OT models to many case studies. I am able to apply these foundational theories, models and frameworks to my fieldwork situation.
      %td I am able to understand theories that would be applicable to older adults. I understand theories that are applicable to many different people groups, but my main focus is older adults. I took the initiative to attend an AOTA conference.  
      %td I work out at least 3 days a week at the gym.
    %tr
      %td 3 years
      %td I’ve grown in my abilities to be more sensitive to others and to advocate for others in my community. I am a person that will do the right thing in very hard situations.
      %td I passed the NBCOT test the first time because I was prepared. I now work at a nursing home as an OTR with older adults. I have worked for 7 months after graduating and I am still a member of AOTA.  I am practicing as an OTR while applying my knowledge from school to many different life situations.
      %td By now, I have OT friends who are experienced and who I bounce ideas about practicing OT.  I am still researching older adults by reading magazines. I continue my education by attending AOTA conferences. I attend training that gives me a step up from others specifically dealing with older adults.
      %td I’ve accomplished a century, which is a bike race in the United States.
    %tr
      %td 5 years
      %td My personal goals are to have close personal relationships with the other OT’s at my work. I work and get along with the entire staff at the nursing home and we are able to work through problems and situations as a team.
      %td My career looks like attending many trainings and attending many conferences dealing with ways of improving the lives of older adults. I continue reading textbooks that are applicable to situations at work. I am familiar with revised frameworks and models. I have memorized the Occupational Therapy Framework.
      %td I am taking several classes that would be applicable to the field to help me be more informed with the changing field.
      %td I work out 4 days a week in the gym.
    %tr
      %td 10years
      %td I am close with my family and live close to them. I love to share my life and impact others by always encouraging them by being a great example.
      %td I am an OTR that is versatile who is very experienced. I am able to work at a variety of settings. I work at a school, a hospital and a nursing home.
      %td I am starting to work on my PHD to continue my education. I am working toward becoming an OT teacher.
      %td I will attempt to climb the highest peak in South America.
