%table
  %tr
    %td Artifacts 1
    %td Social Justice
  %tr
    %td Item
    %td I pledged to end the use of the r-word. Spread the Word to End the Word, “retarded.” The Special Olympics and an ongoing intent to promote the inclusion and acceptance of people with intellectual disabilities.
  %tr
    %td Why
    %td By promoting not using the r-word we are advocating for individuals who have intellectual disabilities to make sure they are being treated appropriately.  It is excluding people from social groups and not admonishing their talents.  It alienates certain people and I am helping to put a stop to this.
  %tr
    %td Importance
    %td This is important to me because I think individuals who have disabilities need to be encouraged by not using the r-word.  It is important to me to not reinforce the stereotypes of people who have intellectual disabilities. It shouldn’t be acceptable and is not acceptable to degrade or insult those who have intellectual disabilities.

= image_tag "mia_heritage_lunch_original.jpg"

%table
  %tr
    %td Artifacts 2
    %td Social Justice
  %tr
    %td Item
    %td Volunteering at the Heritage Senior Center and serving food to seniors for lunch.
  %tr
    %td Why
    %td I wanted to serve seniors and get to know them on a more personal level. I enjoy visiting seniors.
  %tr
    %td Importance
    %td This is important to me because I like to serve seniors.
